form {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--text-color);
}

input[type="text"],
input[type="email"],
textarea {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--text-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #66afe9; /* Highlight color on focus */
  outline: none;
}

textarea {
	height: 200px;
}

button {
    padding: 10px;
    background-color: transparent; 
    color: var(--text-color);
    border-radius: 4px;
    font-size: var(--font-size);
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
    border: 2px solid;
  font-family: var(--font-family);
}

