
  .dropdown {
            position: relative;
            display: inline-block;
        }
.dropdown button {
padding: 0px;
}

        .dropdown-toggle {
            background-color: transparent;
            cursor: pointer;
            display: flex;
            align-items: center;
        }

        .dropdown-toggle::after {
            content: '▼';
            margin-left: 10px;
            font-size: 0.7em;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #232323;
            min-width: 160px;
            border-radius: 5px;
            box-shadow: 0 2px 10px rgba(0,0,0,0.5);
            z-index: 1;
        }

        .dropdown-menu.show {
            display: block;
        }

        .dropdown-item {
  color: #ddd;
            padding: 10px 15px;
            text-decoration: none;
            display: block;
        }

        .dropdown-item:hover {
            background-color: #444444;
        }
