:root {
--pagefind-ui-primary: black;
--pagefind-ui-text: var(--text-color);
--pagefind-ui-background: #152028;
--pagefind-ui-border: #152028;
--pagefind-ui-tag: var(--text-color);
--pagefind-ui-scale: 1;
--pagefind-ui-border-width: 2px;
--pagefind-ui-border-radius: 8px;
--pagefind-ui-image-border-radius: 8px;
--pagefind-ui-image-box-ratio: 3 / 2;
--pagefind-ui-font: var(--font-family);
}

#search {
max-width: 600px;
margin: 20px auto 0px;
}
